backend/n8n/workflows/1CBEFF2pvq9IOU5f.json
{
  "updatedAt": "2025-12-06T22:26:30.000Z",
  "createdAt": "2025-12-06T22:26:29.540Z",
  "id": "1CBEFF2pvq9IOU5f",
  "name": "My workflow 3",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1ce91c6-1dbb-4c34-9f6c-b9e8b7400e47",
      "name": "Webhook Analyze",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        64,
        -144
      ],
      "webhookId": "53c47fa5-013a-4363-b8c2-9ca8761ede1e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.143:11434/api/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-oss:120b-cloud"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            },
            {
              "name": "messages",
              "value": "={{ [ { \"role\": \"system\", \"content\": \"Ты системный аналитик. Твоя задача — найти неопределенности в требовании пользователя. \\n\\nЕсли текст понятен и полон, верни JSON: { \\\"has_issues\\\": false, \\\"questions\\\": [] }.\\n\\nЕсли есть неопределенности, верни JSON: { \\\"has_issues\\\": true, \\\"questions\\\": [ { \\\"id\\\": 1, \\\"quote\\\": \\\"цитата из текста\\\", \\\"question\\\": \\\"твой вопрос для уточнения\\\" } ] }.\" }, { \"role\": \"user\", \"content\": $json.body.text } ] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "10d74b88-c081-469e-8713-5d2a4120284f",
      "name": "Ollama Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.data).message.content }}",
        "options": {}
      },
      "id": "9b639ce9-fa70-49ad-a59e-5342ff5afe68",
      "name": "Respond Analysis",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        -144
      ]
    }
  ],
  "connections": {
    "Webhook Analyze": {
      "main": [
        [
          {
            "node": "Ollama Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Analyze": {
      "main": [
        [
          {
            "node": "Respond Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "38a352d6-e3ba-4529-9d2f-bd2ce164119f",
  "activeVersionId": "38a352d6-e3ba-4529-9d2f-bd2ce164119f",
  "versionCounter": 5,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-06T22:26:29.546Z",
      "createdAt": "2025-12-06T22:26:29.546Z",
      "role": "workflow:owner",
      "workflowId": "1CBEFF2pvq9IOU5f",
      "projectId": "vhAcEcvjmKJHPwqK",
      "project": {
        "updatedAt": "2025-12-06T09:19:55.227Z",
        "createdAt": "2025-12-06T09:11:25.609Z",
        "id": "vhAcEcvjmKJHPwqK",
        "name": "Михаил Гончаров <mgmob@yandex.ru>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}