backend/n8n/workflows/ffDg47yoLY3T8kk1.json
{
  "updatedAt": "2025-12-06T22:08:34.000Z",
  "createdAt": "2025-12-06T20:47:35.688Z",
  "id": "ffDg47yoLY3T8kk1",
  "name": "API - AI Connect",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c47002ed-770a-4eff-be43-77db00176001",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -288,
        -288
      ],
      "webhookId": "874b5f3c-94c7-4136-adf7-c8023c33484b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.143:11434/api/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-oss:120b-cloud"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            },
            {
              "name": "messages",
              "value": "={{ [ { \"role\": \"system\", \"content\": \"Ты бизнес-аналитик. Отвечай кратко на русском языке.\" }, { \"role\": \"user\", \"content\": $json.body.message } ] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "2d53a088-dab6-4246-aee2-ac055cda9ee7",
      "name": "Ollama Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -64,
        -288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.message.content } }}",
        "options": {}
      },
      "id": "9ad3ea8a-bff4-4cbf-9b6a-062247a22099",
      "name": "Respond to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        -288
      ]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Ollama Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Request": {
      "main": [
        [
          {
            "node": "Respond to Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d8cfa6b0-ce79-4411-a590-5264d0ca53cd",
  "activeVersionId": "d8cfa6b0-ce79-4411-a590-5264d0ca53cd",
  "versionCounter": 25,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-06T20:47:35.696Z",
      "createdAt": "2025-12-06T20:47:35.696Z",
      "role": "workflow:owner",
      "workflowId": "ffDg47yoLY3T8kk1",
      "projectId": "vhAcEcvjmKJHPwqK",
      "project": {
        "updatedAt": "2025-12-06T09:19:55.227Z",
        "createdAt": "2025-12-06T09:11:25.609Z",
        "id": "vhAcEcvjmKJHPwqK",
        "name": "Михаил Гончаров <mgmob@yandex.ru>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}