backend/n8n/workflows/nj0qe6CNgkFCGnD8.json
{
  "updatedAt": "2025-12-06T10:40:26.000Z",
  "createdAt": "2025-12-06T10:36:35.854Z",
  "id": "nj0qe6CNgkFCGnD8",
  "name": "API - Projects",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "projects",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "18a138a3-6090-44b7-be47-1b9fd00fde66",
      "name": "Webhook",
      "webhookId": "b36930c7-79fd-4cbf-a3cf-444c7b8aca26"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"FOR p IN Projects RETURN p\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "3efe7314-809c-49bb-b7ac-e82177b5f2fd",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "6fdf1b8a-8e21-4917-a21a-88658e3fdf02",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5cdcf3de-908c-44e3-a736-c59fc0fdfe4a",
  "activeVersionId": "5cdcf3de-908c-44e3-a736-c59fc0fdfe4a",
  "versionCounter": 6,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-06T10:36:35.859Z",
      "createdAt": "2025-12-06T10:36:35.859Z",
      "role": "workflow:owner",
      "workflowId": "nj0qe6CNgkFCGnD8",
      "projectId": "vhAcEcvjmKJHPwqK",
      "project": {
        "updatedAt": "2025-12-06T09:19:55.227Z",
        "createdAt": "2025-12-06T09:11:25.609Z",
        "id": "vhAcEcvjmKJHPwqK",
        "name": "Михаил Гончаров <mgmob@yandex.ru>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}