backend/n8n/workflows/Coati/Coati Data API.json
{
  "name": "Coati Data API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6d02c398-52e3-4cb8-bb2f-7503ed80b0bd",
      "name": "Webhook Data API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2416,
        224
      ],
      "webhookId": "623b239d-6163-4550-90cc-3c0106aa0b0d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "LET project = DOCUMENT(CONCAT(\"Projects/\", @id))\n\n// Получаем этапы проекта, отсортированные по порядку\nLET stages = (\n    FOR s IN Stages \n    FILTER s.project_id == @id \n    SORT s.order ASC \n    RETURN s\n)\n\n// Получаем последнее требование (контент)\nLET reqs = (\n    FOR r IN Requirements \n    FILTER r.projectId == @id \n    SORT r.createdAt DESC \n    LIMIT 1 \n    RETURN r.content\n)\n\n// Получаем список доступных моделей (для выпадающего списка)\nLET models = (\n    FOR m IN AI_Models \n    RETURN { id: m._key, name: m.name, provider: m.provider }\n)\n\n// Получаем промпты\nLET prompts = (\n    FOR p IN Prompts \n    RETURN { id: p._key, name: p.title, description: p.category }\n)\n\nRETURN {\n    projectName: project.name,\n    stages: stages,\n    content: FIRST(reqs) || \"\",\n    prompts: prompts,\n    models: models\n}"
            },
            {
              "name": "bindVars",
              "value": "={{ { \"id\": $json.body.payload.id } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "23d5b5a2-52a9-4f4b-a080-2cade56a4028",
      "name": "Arango: Get Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -272,
        -256
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Универсальная обертка для всех ответов API\n// Формат: { result: data, timestamp: number }\n\nconst data = $input.item.json;\n\n// Если это уже ArangoDB ответ с result\nif (data.result !== undefined) {\n  return {\n    json: {\n      result: data.result,\n      timestamp: Date.now()\n    }\n  };\n}\n\n// Если это прямые данные (fallback)\nreturn {\n  json: {\n    result: data,\n    timestamp: Date.now()\n  }\n};"
      },
      "id": "wrap-response-001",
      "name": "Wrap Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f34ad84f-74af-4870-9fe3-325546837415",
      "name": "Respond Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "FOR p IN Prompts RETURN { id: p._key, name: p.title, description: p.category }"
            }
          ]
        },
        "options": {}
      },
      "id": "0ecd5698-9453-498b-b723-046fc5042243",
      "name": "Arango: List Prompts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -272,
        -48
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "FOR p IN Projects \nSORT p.createdAt DESC \nRETURN { id: p._key, name: p.name, description: p.description, createdAt: p.createdAt }"
            }
          ]
        },
        "options": {}
      },
      "id": "e59b3c9e-4302-446f-bcd4-bfc257012f15",
      "name": "Arango: List Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -256,
        144
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "INSERT { \n  name: @name, \n  description: @description, \n  createdAt: DATE_NOW(), \n  stage: \"brief\"\n} INTO Projects \nRETURN { id: NEW._key, name: NEW.name, description: NEW.description, createdAt: NEW.createdAt }"
            },
            {
              "name": "bindVars",
              "value": "={{\n  {\n    \"name\": $json.body.payload.name,\n    \"description\": $json.body.payload.description || \"\"\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1d37ef25-074a-471d-9e31-fabfa902738e",
      "name": "Arango: Create Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -336,
        -864
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "FOR t IN StageTemplates RETURN { id: t._key, name: t.name, description: t.description }"
            }
          ]
        },
        "options": {}
      },
      "id": "a53bf15b-77a7-4eeb-b73e-3aaf94b2314f",
      "name": "Arango: List Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -240,
        352
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "// 1. Берем шаблон\nLET tpl = DOCUMENT(CONCAT(\"StageTemplates/\", @templateId))\n\n// 2. Создаем новый этап на основе шаблона\nINSERT {\n  project_id: @projectId,\n  name: tpl.name, // Можно дать пользователю переименовать\n  type: tpl._key,\n  status: \"active\",\n  order: 1, // Тут надо бы вычислять MAX(order) + 1, но пока упростим\n  current_step_index: 0,\n  // Копируем шаги и инициализируем пустые данные\n  steps: (\n    FOR s IN tpl.steps\n    RETURN MERGE(s, { \n      status: s.order == 1 ? \"active\" : \"pending\",\n      data: {} // Пустое хранилище для данных формы\n    })\n  )\n} INTO Stages\n\nRETURN NEW"
            },
            {
              "name": "bindVars",
              "value": "={{\n  {\n    \"projectId\": $json.body.payload.projectId,\n    \"templateId\": $json.body.payload.templateId\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b97cc390-e178-4155-8a8a-0909f6b1bbb4",
      "name": "Arango: Add Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -320,
        -624
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "FOR m IN AI_Models RETURN { id: m._key, name: m.name }"
            }
          ]
        },
        "options": {}
      },
      "id": "49ddbe98-a694-44fa-9f95-2cdcccf78109",
      "name": "Arango: List AI Models",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -224,
        560
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "FOR p IN SystemPrompts RETURN { id: p._key, name: p.name }"
            }
          ]
        },
        "options": {}
      },
      "id": "66b67788-3173-470f-8bc9-b6dac1e261c8",
      "name": "Arango: List System Prompts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -224,
        784
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const action = $input.item.json.body.action;\nlet type = 'READ'; // По умолчанию чтение\n\n// Логика определения типа\nif (action.startsWith('create') || action.startsWith('add') || action === 'chat') {\n  type = 'CREATE';\n} else if (action.startsWith('update') || action.startsWith('set')) {\n  type = 'UPDATE';\n} else if (action.startsWith('delete') || action.startsWith('remove')) {\n  type = 'DELETE';\n}\n// Все остальное (list, get) останется READ\n\n// Добавляем crudType в данные, чтобы следующий Switch его увидел\nreturn { \n  json: { \n    ...$input.item.json, \n    crudType: type \n  } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        224
      ],
      "id": "4f816150-c5c9-4c33-800e-af6a2ae23bac",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.crudType }}",
                    "rightValue": "CREATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d9e5ab14-5e95-46e9-b8c5-cb06481dbde9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52950e4c-2cd1-47cc-856d-4edbcd9bddca",
                    "leftValue": "={{ $json.crudType }}",
                    "rightValue": "READ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "851884dc-a05b-4acf-96af-559cb1309e6a",
                    "leftValue": "={{ $json.crudType }}",
                    "rightValue": "UPDATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f98c11f-1fc7-42a6-8940-a5ff539d4e83",
                    "leftValue": "={{ $json.crudType }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2032,
        192
      ],
      "id": "06e2c496-0e20-4e74-aa8a-65bb74a620c9",
      "name": "Main Router"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d8b53a75-2806-474b-982e-96c24d317fd2",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createProject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "330cd4ac-2a6c-49d4-a257-7e7a730877c9",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "addStage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b0851c0-3457-4bfd-9c65-065fe9abc69c",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -800,
        -544
      ],
      "id": "877a7f00-a7eb-413e-9b60-69ab75f84bef",
      "name": "Switch CREATE"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -816,
        1392
      ],
      "id": "c5514b89-c40c-48ee-b1a1-8f8522318db1",
      "name": "Switch DELETE"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getProjectDetails",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a60981ab-e179-4e01-9f3b-ba66e68b489b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cad90d86-3975-48c8-adfb-46771237f8a5",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "listPrompts",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64568ec2-2206-4152-917d-10d12bdeb6ee",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "listProjects",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4641af8e-edd1-4f12-a6ae-379850d4ef45",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "listTemplates",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a527b05-e210-47e9-aa90-df1a58e7475c",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "listAIModels",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9ac8f22d-8a43-43d7-9053-6b9cac95de3e",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "listSystemPrompts",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -800,
        -176
      ],
      "id": "026de15d-0151-400b-a5fb-d50136b8145f",
      "name": "Switch READ"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "760a1310-3cff-42eb-8998-0688f1dc1c29",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateStageSteps",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -832,
        896
      ],
      "id": "d38cea2a-0470-4949-9f2d-da727b7d05f2",
      "name": "Switch UPDATE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://arangodb:8529/_db/coati/_api/cursor",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query"
            }
          ]
        },
        "options": {}
      },
      "id": "a58ba5d2-2667-4936-8054-8e3cf18843ba",
      "name": "Arango: Update Stage Steps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -208,
        1040
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "jAZFxtYhDSH0xDn5",
          "name": "ArangoDB Root"
        }
      }
    }
  ],
  "connections": {
    "Webhook Data API": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arango: Get Details": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arango: List Prompts": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arango: List Projects": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arango: Create Project": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arango: List Templates": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arango: Add Stage": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arango: List AI Models": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arango: List System Prompts": {
      "main": [
        [
          {
            "node": "Wrap Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Response": {
      "main": [
        [
          {
            "node": "Respond Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Main Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch READ": {
      "main": [
        [
          {
            "node": "Arango: Get Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Arango: List Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Arango: List Projects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Arango: List Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Arango: List AI Models",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Arango: List System Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch CREATE": {
      "main": [
        [
          {
            "node": "Arango: Create Project",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Arango: Add Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Router": {
      "main": [
        [
          {
            "node": "Switch CREATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch READ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch UPDATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch UPDATE": {
      "main": [
        [
          {
            "node": "Arango: Update Stage Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": []
}